.App {
  text-align: center;
  display: grid;
  grid-template-columns: 30% 1fr;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

.visible {
  animation: visibleAnim 0.8s;
  opacity: 1;
}

@keyframes visibleAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  animation: hideAnim 0.8s;
  opacity: 0;
}

@keyframes hideAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.bg-default {
  background-image: url("../public/img/bg.png");
}

.bg1 {
  background-image: url("../public/img/bg.png");
}

.bg2 {
  background-image: url("../public/img/bg2.png");
}

.bg3 {
  background-image: url("../public/img/bg3.png");
}

.bg4 {
  background-image: url("../public/img/bg4.png");
}

.wallpaper {
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  transition: all;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.content-left {
  margin-top: 20vh;
}

.content-left > span {
  text-align: left;
  white-space: nowrap;
  padding-left: 70px;
  font-size: 60px;
  /* animation: moveRightOut 0.5s; */
  height: 100px;
}

.content-left > span:hover .title {
  text-align: left;
  overflow: hidden;
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}
.content-right {
  height: 100vh;
}

.welcome {
  margin-top: 30vh;
  padding-left: 50px;
  padding-right: 50px;
}

.aboutme {
  background-color: rgba(0, 0, 0, 0.2);
  height: 60vh;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15vh;
  padding: 10px;
  text-align: left;
}

.aboutme > h1 {
  text-decoration: underline;
  text-align: center;
}

.aboutme > h2::first-letter {
  padding-left: 40px;
}

.contactme {
  background-color: rgba(0, 0, 0, 0.2);
  height: 60vh;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15vh;
  padding: 10px;
  text-align: left;
}

.contactme > h1 {
  text-decoration: underline;
  text-align: center;
}

.contactme > div {
  margin-top: 60px;
  padding-left: 70px !important;
}

.contactme .flex-row {
  gap: 10px;
}

.parent-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parent-button span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}

.parent-button:hover .line {
  background-color: rgb(245, 237, 133);
}
.parent-button:hover span {
  color: rgb(245, 237, 133);
}

.parent-button:hover .right-arrow {
  fill: rgb(245, 237, 133);
}

.parent-button:hover .down-arrow {
  fill: rgb(245, 237, 133);
}

.right-arrow {
  width: 20px;
  fill: white;
}

.down-arrow {
  width: 30px;
  transform: translateX(-10px);
  fill: white;
}

.button {
  font-family: "Rabbit";
  background: none;
  outline: none;
  border: none;
  padding-bottom: 4px;
  color: white;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.button:active {
  border-style: none;
}
.button:hover {
  font-size: 22px;
  color: azure;
}

.line {
  height: 3px;
  width: 130px;
  border-radius: 20px;
  background-color: white;
  transform: translateY(-2px);
}

.projects {
  background-color: rgba(0, 0, 0, 0.2);
  height: 60vh;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15vh;
  padding: 30px;
  text-align: left;
  overflow: hidden;
  overflow-y: "scroll";
}

.scroll-div .top {
  height: calc(60vh - 120px);
}

.scroll-div {
  overflow: hidden;
  height: calc(60vh - 120px);
  /* overflow-y: scroll; */
}

.projects h1 {
  text-decoration: underline;
  text-align: center;
}

.projects h2::first-letter {
  margin-left: 50px;
}

.projects h2 {
  letter-spacing: 2px;
}

.projects li {
  cursor: pointer;
}

.projects li:hover {
  text-decoration: underline;
  color: rgb(245, 237, 133);
}

.projects .grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 40% 60%;
}


.img-container {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.img-container > .img {
  position: absolute;
  width: calc(100% - 20px);
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.table-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 600;
  font-size: 30px;
}

.sos3 {
  background-image: url("../public/img/SOS/1.png");
}

.sos4 {
  background-image: url("../public/img/SOS/2.png");
}

.sos5 {
  background-image: url("../public/img/SOS/3.png");
}

.sos1 {
  background-image: url("../public/img/SOS/4.png");
}

.sos2 {
  background-image: url("../public/img/SOS/5.png");
}

.sos6 {
  background-image: url("../public/img/SOS/6.png");
}

.d-none {
  opacity: 0;
}

.d-remove {
  height: 0px;
  animation: reduceHeight 0.5s;
}

@keyframes reduceHeight {
  from {
    height: calc(60vh - 120px);
  }
  to {
    height: 0px;
  }
}

@keyframes moveRightIn {
  from {
    transform: translateX(0px) translateY(0px);
    font-size: 60px;
  }
  to {
    transform: translateX(50px) translateY(-10px);
    font-size: 80px;
  }
}

@keyframes moveRightIn {
  from {
    transform: translateX(0px) translateY(0px);
    font-size: 60px;
  }
  to {
    transform: translateX(50px) translateY(-10px);
    font-size: 80px;
  }
}

@keyframes moveRightOut {
  from {
    transform: translateX(50px) translateY(-10px);
    font-size: 80px;
  }
  to {
    transform: translateX(0px) translateY(0px);
    font-size: 60px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
