@font-face {
	font-family: "Rabbit";
	src: url(../public/font/WHITRABT.TTF);
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

body {
  margin: 0;
  font-family: "Rabbit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
